* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #6189A4;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue',Helvetica,sans-serif;
}

a {
  color: rgb(141, 141, 141);
  text-decoration: none;
}

.topbar {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  text-align: center;
  text-transform: uppercase;
  height: 50px;
}

.topbar h1 a {
  font-size: 30px;
  line-height: 50px;
  text-transform:uppercase;
  color: rgb(255, 255, 255);
}

.topbar .logo {
  vertical-align: middle;
  height: 36px;
  width: 40px;
}

.banner {
  text-align: center;
}

.banner img {
  width: 600px;
  margin-bottom: 20px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2),0px 8px 28px rgba(0, 0, 0, 0.6),0 0 20px rgba(19, 125, 255, 0);
  cursor: pointer;
  -webkit-transition: opacity ease .3s, -webkit-transform ease .3s;
}

.banner img:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
}

.banner .hero {
  margin: 20px;
  font-size: 28px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.4);
}

/* Button */
.ui-button {
    display: inline-block;

    border-radius: 3px;
    padding: 6px 10px;
    margin: 4px 0;
    border: 1px solid #E2EBF2;
    color: #fff;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    background-color: transparent;

    -webkit-appearance: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
}

.ui-button:hover, .ui-button:active {
    color: #556D7C;
    background: #E2EBF2;
}
